.dropdown-menu {
    width: 150px;
    position: absolute;
    top: 45px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    background: #f88e0c;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #ffb114;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 5px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }